congress_etl--main/ETL-iac/amendment_endpoint/step_function_definition.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Get amendments 0",
    "States": {
      "Get amendments 0": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${GetAmendmentFunctionArn}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Map",
        "Catch": [
          {
            "ErrorEquals": [
              "TooManyRequests"
            ],
            "Next": "StopExecution (1)"
          }
        ]
      },
      "StopExecution (1)": {
        "Type": "Task",
        "Parameters": {
          "ExecutionArn.$": "$$.Execution.Id"
        },
        "Resource": "arn:aws:states:::aws-sdk:sfn:stopExecution",
        "End": true
      },
      "Map": {
        "Type": "Map",
        "ItemProcessor": {
          "ProcessorConfig": {
            "Mode": "INLINE"
          },
          "StartAt": "Get amendments",
          "States": {
            "Get amendments": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${GetAmendmentFunctionArn}"
              },
              "End": true,
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": [
                    "TooManyRequests"
                  ],
                  "Next": "StopExecution"
                }
              ]
            },
            "StopExecution": {
              "Type": "Task",
              "Parameters": {
                "ExecutionArn.$": "$$.Execution.Id"
              },
              "Resource": "arn:aws:states:::aws-sdk:sfn:stopExecution.waitForTaskToken",
              "End": true
            }
          }
        },
        "End": true,
        "MaxConcurrency": 1
      }
    }
  }